.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;

  /* Assigning flex as the display style to the parent container */
  display: flex; 

  /* 'justify-content' and 'align-items' - both of these properties must be applied to the parent container */
  justify-content: center; /* To center the box on the primary (horizontal) axis */
  align-items: center; /* To center the box on the cross (vertical) axis */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
  
  
}