body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px; /* Div One and Div Three have 32px between their text and border. */
  margin: 12px; /* Div One has 12px between it and any other element on the page. */
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 0px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px; /* Div One and Div Three have 32px between their text and border. */
  margin-left: 0px;
}