/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  
  /* To put everything in one horizontal line */
  display: flex;

  /* Comment A - To make the left-side-items aligned on the left side, and right-side-items aligned on the right side of the header */
  justify-content: space-between;

  /* Everything is centered vertically inside the header */
  align-items: center;

  /* There is 8px space between everything and the edge of the header */
  padding: 8px;
}

/* Comment A - To make the left-side-items aligned on the left side, and right-side-items aligned on the right side of the header */
.left-side-items {
  display: flex;

    /* There is 16px between each item on both sides of the header. This is to make 16px gap between the LOGO and Three Links */
    gap: 16px;
}

.right-side-items {
  display: flex;

    /* There is 16px between each item on both sides of the header. This is to make a gap of 16px between the button and the profile image */
    gap: 16px;
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  
  /* To put all the three links in one horizontal line */
  display: flex;

  /* There is 16px between each item on both sides of the header. This is to make 16px gap between link-one, link-two, link-three */
    gap: 16px;
}
